@model List<Hi_Shop.Application.Catalogs.CatalogItems.CatalogItemServices.CatalogBrandDto>
@{
    Layout = null;
    var BRANSID = Context.Request.Query["brandId"];

}



<div class="widget widget-filter-options shadow-around">
    <div class="widget-title">برند</div>
    <div class="search-in-options form-element-row">
        <div class="form-element-with-icon">
            <input type="text" class="input-element" placeholder="جستجوی نام برند...">
            <i class="fad fa-file-search"></i>
        </div>
    </div>
    <form asp-action="Index" method="get" class="widget-content">

        @foreach (var item in Model)
        {
            @if (BRANSID.ToList().Any(p => p == item.Id.ToString()))
            {
                <label class="container-checkbox">
                    @item.Brand
                    <input type="checkbox" checked name="brandId" value="@item.Id" onclick="submit();">
                    <span class="checkmark"></span>
                </label>
            }
            else
            {
                <label class="container-checkbox">
                    @item.Brand
                    <input type="checkbox" name="brandId" value="@item.Id" onclick="submit();">
                    <span class="checkmark"></span>
                </label>
            }

        }

        @foreach (var queryString in Context.Request.Query.Where(p => p.Key != "brandId").ToList())
        {
            <input type="hidden" name="@queryString.Key" value="@queryString.Value" />
        }

    </form>
</div>